<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//myb atis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bestfriendMapper">
	
	
	<select id="searchUser" parameterType="bfSearchCondition" resultType="UserInfo">
		SELECT *
		FROM USERINFO
		WHERE USERSTATUS ='N'
		<if test ="bfId != null">
			AND USERID LIKE '%'||#{bfId}||'%'
		</if>
		<if test ="bfName != null">
			AND USERNAME LIKE '%'|| #{bfName}|| '%'
		</if>
		<if test ="bfAll != null">
			AND (USERID LIKE '%'|| #{bfName}|| '%' OR USERID LIKE '%'||#{bfId}||'%') 
		</if>
	</select>
	<select id="checkBF" parameterType="BestFriend" resultType="_int">
		SELECT COUNT(*)
		FROM BESTFRIEND
		WHERE BFAPPLYID = #{bfApplyId} AND BFAPPLIEDID = #{bfAppliedId} AND BFSTATUS = 'Y'
	</select>
	<insert id = "insertBF" parameterType = "BestFriend">
		INSERT INTO BESTFRIEND
		VALUES(SEQ_BFNO.NEXTVAL, #{bfApplyId}, #{bfAppliedId}, DEFAULT, #{bfComments}, SYSDATE, NULL)
	</insert>

</mapper>
