<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//myb atis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "itemMapper">

	<resultMap type="ItemStore" id="ItemResultSet">
	<id property="itemNo" column="ITEMNO"/>
	<result property="price" column="PRICE"/>
	<result property="itemCategory" column="ITEMCATEGORY"/>
	<result property="itemCount" column="ITEMCOUNT"/>
	<result property="itemLink" column="ITEMLINK"/>
	<result property="createDate" column="CREATEITEM"/>
	<result property="itemStatus" column="ITEMSTATUS"/>
	<result property="itemName" column="itemName"/>
	</resultMap>
	
	<resultMap type="KipItem" id="KipItemResultSet">
	<id property="kipListNo" column="KIPLISTNO"/>
	<result property="userId" column="USERID"/>
	<result property="itemNo" column="ITEMNO"/>
	<result property="itemName" column="ITEMNAME"/>
	<result property="price" column="PRICE"/>
	<result property="itemCategory" column="ITEMCATEGORY"/>
	<result property="itemStatus" column="ITEMSTATUS"/>
	<result property="itemLink" column="ITEMLINK"/>
	</resultMap>
	
	<resultMap type="UserItemList" id="UserItemList">
	<id property="itemListNo" column="ITEMLISTNO"/>
	<result property="userId" column="USERID"/>
	<result property="itemNo" column="ITEMNO"/>
	<result property="itemUseStatus" column="ITEMUSESTATUS"/>
	</resultMap>
	
	<resultMap type="Present" id="PresentResultMap">
	<id property="presentListNo" column="PRESENTLISTNO"/>
	<result property="itemNo" column="ITEMNO"/>
	<result property="userId" column="USERID"/>
	<result property="itemCategory" column="ITEMCATEGORY"/>
	<result property="itemName" column="ITEMNAME"/>
	<result property="itemLink" column="ITEMLINK"/>	
	<result property="presentUserId" column="PRESENTUSERID"/>
	<result property="presentDate" column="PRESENTDATE"/>
	<result property="presentContent" column="PRESENTCONTENT"/>
	<result property="presentStatus" column="PRESENTSTATUS"/>
	</resultMap>
	
	<select id="getItemListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM ITEMSTORE
		WHERE ITEMSTATUS='Y'
	</select>
	
	<select id="selectItemList" resultMap = "ItemResultSet">
		SELECT * 
		FROM ITEMSTORE
		ORDER BY ITEMNO DESC
	</select>
	
	<select id="selectBestItemList" resultMap = "ItemResultSet">
	<![CDATA[
	SELECT *
	FROM (SELECT * 
        FROM ITEMSTORE
        WHERE ITEMCATEGORY=#{itemCategory}
        ORDER BY ITEMCOUNT DESC)
	WHERE ROWNUM <= 3
	]]>
	</select>
	
	<select id="buyItem" parameterType="_int" resultMap="ItemResultSet">
		SELECT *
		FROM ITEMSTORE
		WHERE ITEMNO=#{itemNo}
	</select>
	
	<select id="selectOneItem" parameterType="_int" resultMap="ItemResultSet">
		SELECT *
		FROM ITEMSTORE
		WHERE ITEMNO=#{itemNo}
	</select>
	
	<insert id="insertkipItem" parameterType="ItemStore">
		INSERT INTO KIPITEM
		VALUES(SEQ_KIPINO.NEXTVAL, DEFAULT, #{itemNo}, #{itemName}, #{price}, #{itemCategory}, #{itemStatus}, #{itemLink})
	</insert>
	
	<update id="updateNullUser" parameterType="string">
		UPDATE KIPITEM
		SET USERID=#{userId}
		WHERE USERID IS NULL
	</update>
	
	<select id="getkipItemListCount" resultType="_int" parameterType="string">
		SELECT COUNT(*)
		FROM KIPITEM
		WHERE ITEMSTATUS = 'Y'
		AND USERID=#{userId}
	</select>
	
	<select id="selectKipItemlist" resultMap="KipItemResultSet" parameterType="string">
		SELECT *
		FROM KIPITEM
		WHERE USERID=#{userId}
		AND ITEMSTATUS='Y'
	</select>
	
	<select id="selectAllItemList" resultMap = "ItemResultSet">
		SELECT *
		FROM ITEMSTORE
		WHERE ITEMSTATUS='Y'
	</select>
	
	<insert id="insertBuyItem" parameterType="UserItemList">
		INSERT INTO USERITEMLIST
		VALUES(SEQ_USERILISTNO.NEXTVAL, #{userId}, #{itemNo}, DEFAULT)
	</insert>
	
	<update id="updateUserPoint" parameterType="UserInfo">
		UPDATE USERINFO
		SET POINT=POINT-#{itemPoint}
		WHERE USERID=#{userId}
	</update>
	
	<select id="selectUserItemList" resultMap="UserItemList">
		SELECT *
		FROM USERITEMLIST
		WHERE USERID=#{userId}
	</select>
	
	<select id="selectUserPoint" parameterType="string" resultType="_int">
		SELECT POINT
		FROM USERINFO
		WHERE USERID=#{userId}
	</select>
	
	<delete id="deleteKipItemList" parameterType="_int">
		DELETE FROM KIPITEM
		WHERE ITEMNO=#{itemNo}
	</delete>
	
	<insert id="insertPresentItem" parameterType="Present">
		INSERT INTO PRESENT
		VALUES(SEQ_PRESENTINO.NEXTVAL, #{itemNo}, #{userId}, #{itemCategory}, #{itemName}, #{itemLink}, #{presentUserId}, SYSDATE, #{presentContent}, DEFAULT)
	</insert>
	
	<select id="selectSendItemList" parameterType="string" resultMap="PresentResultMap">
		SELECT *
		FROM PRESENT
		WHERE USERID=#{userId}
		ORDER BY PRESENTLISTNO DESC
	</select>
	
	<select id="selectReceiveItemList" parameterType="string" resultMap="PresentResultMap">
		SELECT *
		FROM PRESENT
		WHERE PRESENTUSERID=#{userId}
		ORDER BY PRESENTLISTNO DESC
	</select>
	
	<select id="selectOnePresentItem" parameterType="Present" resultType="_int">
		SELECT COUNT(*)
		FROM PRESENT
		WHERE PRESENTUSERID=#{presentUserId}
		AND ITEMNO=#{itemNo}
	</select>
	
	<select id="selecthaveOneItem" parameterType="UserItemList" resultType="_int">
		SELECT COUNT(*)
		FROM USERITEMLIST
		WHERE USERID=#{userId}
		AND ITEMNO=#{itemNo}
	</select>
	
	<update id="updateAddItemCount" parameterType="_int">
		UPDATE ITEMSTORE
		SET ITEMCOUNT=ITEMCOUNT+1
		WHERE ITEMNO=#{itemNo}
	</update>
	
	<update id="updateAddPoint" parameterType="UserInfo">
		UPDATE USERINFO
		SET POINT=POINT + #{point}
		WHERE USERID=#{userId}
	</update>
	
</mapper>
